<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TaskList</title>
    <link rel="stylesheet" href="{% static 'css/tasklist.css' %}">

</head>
<body>
<center>
<div class="main">
   <h1> My Todo Lists</h1>
<a href="{% url 'create_items' %}"><button class='add_task'>ADD TASK</button></a>
<table>
    <tr>
        <th>Item</th>
        <th>Description</th>
        <th colspan="3">Actions</th>
    </tr>
    {% for tasks in items %}
    <tr>
        <td>{{tasks.title}}</td>
        <td>{{tasks.completed}}</td>
        <td>{{tasks.created}}</td>
        <td>{{tasks.description}}</td>
    <td>
        <a href="{% url 'update_items' tasks.id %}"><button>edit</button></a>
        <a href="{% url 'delete_items' tasks.id %}"><button>delete</button></a>
        <a href="{% url 'detail_view' tasks.id %}"><button>detail view</button></a>
    </td>
     </tr>
    {% endfor %}
</table>
</div>
</center>
</body>
</html>